{{ define "admin_order_list.html" }}
    {{ template "admin_header" . }}

    <div class="bg-sukatani-light w-full p-4 mb-8 rounded-sm shadow-sm">
        <h2 class="text-2xl font-bold text-black">Order</h2>
    </div>

   <div class="flex items-end mb-4 space-x-6 text-lg border-b border-gray-300 pb-1">
        
        <a href="/api/admin/orders" 
           class="{{ if eq .ActiveStatus "" }}font-bold text-black border-b-2 border-black{{ else }}text-gray-500 hover:text-black{{ end }} pb-2 px-1 transition-colors">
           All Orders
        </a>

        <a href="/api/admin/orders?status=pending" 
           class="{{ if eq .ActiveStatus "pending" }}font-bold text-black border-b-2 border-black{{ else }}text-gray-500 hover:text-black{{ end }} pb-2 px-1 transition-colors">
           Pending
        </a>

        <a href="/api/admin/orders?status=completed" 
           class="{{ if eq .ActiveStatus "completed" }}font-bold text-black border-b-2 border-black{{ else }}text-gray-500 hover:text-black{{ end }} pb-2 px-1 transition-colors">
           Completed
        </a>
        
    </div>

    <div class="overflow-x-auto rounded-t-lg border border-gray-300 mt-4">
        <table class="min-w-full ">
            <thead class="bg-sukatani-gray text-black">
                <tr>
                    <th class="py-3 px-4 text-left font-semibold border-r border-gray-400 whitespace-nowrap">Order Code</th>
                    <th class="py-3 px-4 text-left font-semibold border-r border-gray-400 min-w-[150px]">Customer</th>
                    <th class="py-3 px-4 text-left font-semibold border-r border-gray-400 min-w-[200px]">Items</th> 
                    <th class="py-3 px-4 text-left font-semibold border-r border-gray-400 whitespace-nowrap">Total Price</th>
                    <th class="py-3 px-4 text-left font-semibold border-r border-gray-400 whitespace-nowrap">Date</th>
                    <th class="py-3 px-4 text-center font-semibold w-40 whitespace-nowrap">Status & Action</th>
                </tr>
            </thead>
            
            <tbody class="bg-gray-50">
                {{ range .Orders }}
                    {{ template "admin_order_row.html" (dict "Order" . "CsrfToken" $.csrf_token) }}
                {{ else }}
                    <tr><td colspan="6" class="py-10 text-center">Belum ada pesanan.</td></tr>
                {{ end }}
            </tbody>
        </table>
    </div>
    
    <div class="mt-4 flex justify-between items-center text-sm text-gray-600">
        <div>Total: {{ .Total }} Orders</div>
        <div class="flex gap-2">
            {{ if gt .Page 1 }}
            <a href="/api/admin/orders?page={{ add .Page -1 }}" class="px-3 py-1 border rounded hover:bg-gray-100">Prev</a>
            {{ end }}
            <span class="px-3 py-1 border bg-gray-200">{{ .Page }}</span>
            <a href="/api/admin/orders?page={{ add .Page 1 }}" class="px-3 py-1 border rounded hover:bg-gray-100">Next</a>
        </div>
    </div>

{{ template "admin_footer" . }}
{{ end }}


