{{ define "cart_update.html" }}

    {{ if ne .Action "delete" }}
    <div id="stepper-{{ .Item.MenuID }}" hx-swap-oob="true" class="flex items-center bg-gray-100 rounded-lg p-1">
        <button hx-post="/cart/update" 
                hx-vals='{"menu_id": {{ .Item.MenuID }}, "action": "decrease", "csrf_token": "{{ .CsrfToken }}"}'
                hx-swap="none"
                class="w-7 h-7 flex items-center justify-center bg-white rounded shadow-sm text-gray-600 hover:text-sukatani-dark active:scale-95 transition disabled:opacity-50 disabled:cursor-not-allowed cursor-pointer"
                {{ if eq .Item.Quantity 1 }}disabled{{ end }}>
            <i data-lucide="minus" class="w-3 h-3"></i>
        </button>

        <span class="w-8 text-center font-bold text-sm text-gray-800">
            {{ .Item.Quantity }}
        </span>

        <button hx-post="/cart/update" 
                hx-vals='{"menu_id": {{ .Item.MenuID }}, "action": "increase", "csrf_token": "{{ .CsrfToken }}"}'
                hx-swap="none"
                class="w-7 h-7 flex items-center justify-center bg-white rounded shadow-sm text-gray-600 hover:text-sukatani-dark active:scale-95 transition cursor-pointer">
            <i data-lucide="plus" class="w-3 h-3"></i>
        </button>
    </div>
    {{ end }}

    {{ if ne .Action "delete" }}
        <span id="summary-qty-{{ .Item.MenuID }}" hx-swap-oob="true">
            x{{ .Item.Quantity }}
        </span>
        <span id="summary-subtotal-{{ .Item.MenuID }}" hx-swap-oob="true">
            {{ formatRupiah .ItemSubTotal }}
        </span>
    {{ else }}
        <div id="summary-row-{{ .Item.MenuID }}" hx-swap-oob="delete"></div>
    {{ end }}

    <span id="total-qty-display" hx-swap-oob="true">
        {{ .TotalQty }}
    </span>
    <span id="global-subtotal" hx-swap-oob="true">
        {{ formatRupiah .TotalAmount }}
    </span>
    <span id="grand-total" hx-swap-oob="true">
        {{ formatRupiah .TotalAmount }}
    </span>

    <script>
        lucide.createIcons();
    </script>

{{ end }}